.sticky{
    position: fixed;
    bottom: 10%; /* To stick it at the top */
    /* Alternatively, you can use 'bottom: 0;' to stick it at the bottom */
    width: auto;
    background-color: #1E3050;
    border-radius: 10px;
    color: #fff;
    padding: 10px;
    text-align: center;
    z-index: 999; /* To make sure it's above other elements */
}